body{
  margin:0;
  font-family:Poppins,sans-serif;
}

.signup-container{
  min-height:100vh;
  display:flex;
  background:
  linear-gradient(
    90deg,
    #021420,
    #0f2438
  );
}

.left-section{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:white;
}

.left-section h1{
  font-size:8rem;
  margin:0;
}

.left-section h2{
  margin:0;
  font-size:4rem;
}

.left-section p{
  font-size:22px;
}

.right-section{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.form-card{
  width:450px;
  padding:30px;
  border-radius:20px;
  background:#23384c;
  box-shadow:
  0 10px 25px rgba(0,0,0,.3);
}

.form-card h2{
  text-align:center;
  color:white;
}

input,
select,
textarea{
  width:100%;
  padding:14px;
  margin-top:12px;
  border:none;
  border-radius:12px;
  background:#34495e;
  color:white;
}

.grid-2{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

button{
  border:none;
  padding:14px 20px;
  border-radius:12px;
  cursor:pointer;
  background:#10d6b1;
  color:white;
  font-weight:600;
}

.btn-row{
  display:flex;
  justify-content:space-between;
  margin-top:20px;
}

.stepper{
  display:flex;
  gap:30px;
  margin-bottom:25px;
}

.step{
  text-align:center;
  color:#999;
}

.step.active{
  color:#10d6b1;
}

.circle{
  width:40px;
  height:40px;
  border-radius:50%;
  background:#34495e;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:auto;
}

.step.active .circle{
  background:#10d6b1;
}

.upload-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
  margin-top:15px;
}

.upload-box{
  border:2px dashed #10d6b1;
  border-radius:15px;
  height:120px;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}

.profile-upload{
  margin-top:20px;
  display:flex;
  justify-content:center;
}

.image-circle{
  width:130px;
  height:130px;
  border-radius:50%;
  border:2px dashed #10d6b1;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}